<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/register">Need an account?</a>
        </p>

        @if (formGroup.invalid && (formGroup.dirty || formGroup.touched)) {
          <ul class="error-messages">
            @if (formGroup.controls.email.errors?.['required']) {
              <li>Email is required</li>
            }
            @if (formGroup.controls.email.errors?.['email']) {
              <li>Email must be valid</li>
            }
            @if (formGroup.controls.password.errors?.['required']) {
              <li>Password is required</li>
            }
          </ul>
        }

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="formGroup.invalid">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
