<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                role="button"
                [class.active]="activeFeed() === 'global'"
                (click)="handleFeedClick('global')"
                >Global Feed</a
              >
            </li>
            @if (isLoggedIn()) {
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  [class.active]="activeFeed() === 'personal'"
                  (click)="handleFeedClick('personal')"
                  >Your Feed</a
                >
              </li>
            }
          </ul>
        </div>

        @defer (when articlesResponse().articles !== undefined) {
          @for (article of articlesResponse().articles; track article.id) {
            <div class="article-preview">
              <div class="article-meta">
                @if (article.author.username) {
                  <a [href]="'/profile/' + article.author.username">
                    <img [src]="article.author.image" />
                  </a>
                } @else {
                  <img [src]="article.author.image" />
                }
                <div class="info">
                  <a [href]="'/profile/' + article.author.username" class="author">
                    {{ article.author.username }}
                  </a>
                  <span class="date">{{ article.createdAt | date }}</span>
                </div>
                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                  <i class="ion-heart"></i> {{ article.favoritesCount }}
                </button>
              </div>
              <a [href]="'/article/' + article.slug" class="preview-link">
                <h1>{{ article.title }}</h1>
                <p>{{ article.description }}</p>
                <span>Read more...</span>
                @if (article.tagList.length > 0) {
                  <ul class="tag-list">
                    @for (tag of article.tagList; track tag) {
                      <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
                    }
                  </ul>
                }
              </a>
            </div>
          }
          <ul class="pagination">
            <li class="page-item active">
              <a class="page-link" href="">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="">2</a>
            </li>
          </ul>
        } @placeholder {
          <div>is loading ...</div>
        }
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            @defer (when tagsResponse().tags !== undefined) {
              @for (tag of tagsResponse().tags; track tag) {
                <a href="" class="tag-pill tag-default">{{ tag }}</a>
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
