<div class="profile-page">
  @if (profile$ | async; as profile) {
    <div class="user-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <img [src]="profile.image" class="user-img" />
            <h4>{{ profile.username }}</h4>
            <p>{{ profile.bio }}</p>
            <button class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-plus-round"></i>
              &nbsp; Follow {{ profile.username }}
            </button>
            <button class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-gear-a"></i>
              &nbsp; Edit Profile Settings
            </button>
          </div>
        </div>
      </div>
    </div>

    @if (articleData$ | async; as articleData) {
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 offset-md-1">
            <div class="articles-toggle">
              <ul class="nav nav-pills outline-active">
                <li class="nav-item">
                  <a class="nav-link active" href="">My Articles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Favorited Articles</a>
                </li>
              </ul>
            </div>

            @for (article of articleData.articles; track article.slug) {
              <div class="article-preview">
                <div class="article-meta">
                  <a href="/profile/{{ article.author.username }}">
                    <img [src]="article.author.image" />
                  </a>
                  <div class="info">
                    <a
                      href="/profile/{{ article.author.username }}"
                      class="author"
                      >{{ article.author.username }}</a
                    >
                    <span class="date">
                      {{ article.createdAt | date: "longDate" }}
                    </span>
                  </div>
                  <button class="btn btn-outline-primary btn-sm pull-xs-right">
                    <i class="ion-heart"></i> {{ article.favoritesCount }}
                  </button>
                </div>
                <a href="/article/{{ article.slug }}" class="preview-link">
                  <h1>{{ article.title }}</h1>
                  <p>{{ article.description }}</p>
                  <span>Read more...</span>
                  <ul class="tag-list">
                    @for (tag of article.tagList; track tag) {
                      <li class="tag-default tag-pill tag-outline">
                        {{ tag }}
                      </li>
                    }
                  </ul>
                </a>
              </div>
            }

            <ul class="pagination">
              @for (
                page of generatePageList(articleData.articlesCount);
                track page
              ) {
                <!-- <li class="page-item active"> -->
                <li class="page-item">
                  <a class="page-link" href="">{{ page }}</a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    }
  }
</div>
